<div class="home-header">
    {{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span></h1>
    {{#if toughsQty}}
    <p>Foram encontrados <span>{{toughsQty}}</span> Pensamentos</p>
    {{else}}
    <p>nenhum Pensamento foi encontrado para o termo <span>{{search}}</span></p>
    {{/if}}
    {{else}}
    <h1>Conheça alguns de nossos <span>pensamento</span></h1>
    {{/if}}
    <form action="">

    </form>
    <form action="" method="get">
        <input type="text" name="search" id="Está buscando por algo?">
        <input type="submit" class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>Ordernar por:</span>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit">
                <div class="bi bi-arrow-up"></div>
            </button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit">
                <div class="bi bi-arrow-down"></div>
            </button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="toughts-container">
    {{#each toughs}}
    <figure>
        <blockquote>"{{this.title}}"</blockquote>
        <figcaption>por <span>{{this.User.name}}</span></figcaption>
    </figure>
    {{/each}}
</div>